<%=form_for @recipe do |f|%>

<%=label_tag :name%>
<%=f.text_field :name%>
<p>That Includes:</p>
<div>
 <%= fields_for :ingredients do |ing| %>
        <%= ing.label "Add Ingredient" %>
        <%= ing.text_field :name %>
    <% end %>
    </div>
<p>Or select existing one:</p>
<%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>

<br><br>
<%=f.submit%>
<%end%>